<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gerenteController</servlet-name>
        <servlet-class>controlador.gerenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>controlador.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleadoController</servlet-name>
        <servlet-class>controlador.empleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sucursalController</servlet-name>
        <servlet-class>controlador.sucursalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriaController</servlet-name>
        <servlet-class>controlador.categoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>articuloController</servlet-name>
        <servlet-class>controlador.articuloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kardexController</servlet-name>
        <servlet-class>controlador.kardexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gerenteController</servlet-name>
        <url-pattern>/gerenteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleadoController</servlet-name>
        <url-pattern>/empleadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sucursalController</servlet-name>
        <url-pattern>/sucursalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriaController</servlet-name>
        <url-pattern>/categoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>articuloController</servlet-name>
        <url-pattern>/articuloController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kardexController</servlet-name>
        <url-pattern>/kardexController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
